.App{
  background-color:#23252c;
  position: absolute;
  width: 550px;
  height: 850px;
  left: 65px;
  top: 53px;
  margin-left: 350px;
}

.inner{
  background-color: #1a1b21;
  position: absolute;
  width: 317px;
  height: 500px;
  left: 116px;
  top: 295px;
  align-items: center;
  border-radius: 20px;
  border-color: aqua;
  border-style: solid;
  
}
.profile-picture {
  position: static;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 90px;
  margin-top: 20px;
  border-color: aqua;
  border-style: solid;
}

.name{
  margin-top: -20px;
  text-align: center;
  font-size: 20px;
  color: white;
  
}

.career{
  text-align: center;
  margin-top: -25px;
  color: aqua;
  

}

.btn{
  align-items: center;
  text-align: center;
  margin-left: 40px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
}
.btn:active{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.btn:hover{
  background-color: aqua;
}

.btn-2{
  margin-left: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: aqua;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
}
.btn-2:active{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.btn-2:hover{
  background-color: aliceblue;
}

.abt-info{
  margin-top: -15px;
  margin-left: 35px;
  color: aliceblue;
  font-size: smaller;
  font-weight: 70;

}

.abt-head{
  margin-left: 35px;
  color: aliceblue;
}

.int-head{
  color: aliceblue;
  margin-left: 35px;
  
}
.int-info{
  margin-left: 35px;
  margin-top: -15px;
  color: aliceblue;
  font-size: small;
}

.img-1{
  width: 25px;
  height: 25px;
}

.footer{
  height: 50px;
  width: 317px;
  background-color: #50515e;
  align-items: center;
  margin-top: 17px;
  border-radius: 15px;
  border-style: none;
  display: flexbox;
  justify-content: space-between;
}

.face{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 25px;
  border-radius: 10px;
}

.tweet{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 20px;
}
.git{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 20px;
}

.insta{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 40px;
}

.linked{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 20px;
}




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
